<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Rest Assured Test Framework">
    <parameter name="accuweather.apikey" value="{Replace with API Key}" />
    <test verbose="2" preserve-order="true" name="Test Assignment1">
        <classes><class name="AccuweatherTests.GetLocations"/></classes>
    </test>
</suite>